<!DOCTYPE html>
<html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="cadre">
        <form>
            <h1>Se connecter</h1>
            <div class="input-box">
                <input type="text" placeholder="Nom d'utilisateur" required>
                <i class='bx bxs-user' ></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Mot de passe" required>
                <i class='bx bxs-lock'></i>
            </div>
            <div class="oublié">
                <label><input type="checkbox" >Se rappeler</label>
                <a href="#">Mot de passe oublié?</a>
            </div>
            <button type="Valide" class="btn">Se connecter</button>

            <div class="lien-inscription">
                <p>Pas de compte? <a href="C:\Users\user\Documents\developpement web\Projet\inscription.html">S'inscrire</a></p>
            </div>
        </form>
    </div>
</body>
</html>